/*Body styles*/
body {
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
}

/*Header Styles*/
header h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
}
.cta {
    color: aquamarine;
    text-decoration: underline;
    font-size: 16px;
}
/*Main*/